.alert {
  border-radius: var(--radius-medium);
  display: flex;
  padding: 12px 16px;
}

.alert.success {
  background-color: var(--alert-success-background);
  border: var(--alert-success-border);
  color: var(--alert-success-text-color);
}
